.edit_post {
  text-align: center;
}

.edit_post h2 {
  font-size: 2.2rem;
}

.edit_post p {
  color: #AAA;
  margin-bottom: 2rem;
}

.edit_post .preview_title {
  margin-bottom: .2em;
  color: #000;
  font-weight: bold;
}

.image_preview {
  max-width: 300px;
  margin-bottom: 1rem;
}