body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #F6FCFF;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

a, nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: .4s;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

